body {
        padding-top: 50px;
}

.starter-template {
        padding: 40px 15px;
        text-align: center;
}

td {
        text-align: center;
        background: white; 
        cursor: pointer; 
        padding: 2px 
}

td.black-cell {
        background: black;
}

.center {
        text-align: center;
}

.fixed-table {
        width: 300px;
        margin: 0 auto;
}

.action-btn {
        width: 100%;
        margin: 8px;
}
